    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Chewy&display=swap');
    * {
        scroll-behavior: smooth;
    }
    
    .bg-size {
        background-size: 100% 100%;
    }
    
    @font-face {
        font-family: "lucky";
        src: url(../src/assets/font/LuckyDino.otf);
    }
    
    .ff_lucky {
        font-family: "lucky";
    }
    
    @media (max-width:1024px) {
        .overflow {
            overflow: hidden;
        }
    }